body{
    margin: 0;
    padding: 0;
}
.header{
    background: gray;
}
.container{
    width: 1350px;
    margin: auto;
}
.container-left{
    padding-top: 20px;
    padding-bottom: 20px;
}
.logo{
    float: left;
    margin-right: 15px;
    margin-left: 40px;
}
.logo img {
    display: block;
}
.menu-area{
    padding-top: 8px;
    color: white;
}
.menu-item{
    float: left;
    margin-right: 10px;
}
.menu-item-with-mark{
    float: left;
    margin-right: 3px;
}
.down_arrow {
    float: left;
    margin-right: 10px;
}
.down_arrow img{
    width: 15px;
    height: 9px;
    object-fit: cover;
}
.signup{
    border: 1px solid white;
    border-radius: 0.5em;
    color: white;
    float: right;
    margin-right: 90px;
    position: relative;
    bottom: 7px;
}
.signup-text{
    padding: 8px;
}
.signin{
    color: white;
    float: right;
    margin-right: 15px;
}
.search{
    border: 1px solid white;
    border-radius: 0.3em;
    float: right;
    vertical-align:middle;
    margin-right: 15px;
    position: relative;
    bottom: 8px;
    padding: 3px;
}
.search-text{
    padding-top: 7px;
    color:white;
    float: right;
    margin-right: 7px;
    vertical-align:middle;
    margin-left : 8px;
}
.search-button{
    float: right;
    margin-left: 90px;
    vertical-align:middle;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}